<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="container-fluid alumine-nav">
    <%- include ("../partials/nav.ejs") %>
        <div class="footer-all">
            <div>
                <h4 class="xx">CALL NOW<br></h4>
                <a href="tel:+372 0000 0000"></a>
            </div>
            <div class="co-name">© Company name 2020. All rights reserved.</div>
            <div class="ikoonid">
                <a href="#" class="fa fa-instagram"></a>
                <a href="#" class="fa fa-facebook"></a>
                <a href="#" class="fa fa-twitter"></a>
                <a href="#" class="fa fa-whatsapp"></a>

            </div>
        </div>
</div>