<div class="container-fluid alumine-nav">
    <div class="pais">
        <a class="pais-vasak" href="./index.html">
            <img src="assets/klubilogo.png" height="90">
            <span class="logo-pealkiri">Hiking<br>Club</span>
        </a>
        <nav>
            <a href="/index">Home</a>
            <a href="#">Upcoming treks</a>
            <a href="#">News</a>
            <a href="/contact">Contact us</a>
        </nav>
    </div>
    <div class="pais">
        <div>
            <h4 class="xx">CALL NOW<br>0000 0000 0000</h4>
        </div>
        <div>
            <h6>Company name 2020. All rights reserved.</h6>
        </div>
        <div>
            <nav>
                <a href="https://www.facebook.com/"><img src="/assets/fb-pic.png" height="30"></a>
                <a href="https://twitter.com/?lang=en"><img src="/assets/twitter-logo.png" height="30"></a>
                <a href="https://web.whatsapp.com/"><img src="/assets/whatsapp.png" height="40"></a>

            </nav>
        </div>
    </div>

</div>