body {
    font-family: 'Montserrat', sans-serif;
    
}

.matkad {
    font-size: 18px;
    padding: 30px;
    margin-top: 30px;
    display: flex;
    justify-content: space-around; 
    margin-bottom: 200px;      
}
.matk {
    border-bottom: 1px solid gray;
    width: 33%;
    margin-bottom: 20px;
    margin-top: 20px;

}
.pealkiri {
    font-weight: 600;
    font-size: 25px;
    margin-top: 20px;
}

.matkanupp {
    margin-top: 20px;
    margin-bottom: 30px;
    font-size: 14px !important;
}
.pilt >img {
    width: 80%;
    height: 80%;
}

