<!DOCTYPE html>
<html>

<head>
    <title>Admin</title>
    <%- include ("../partials/header.ejs") %>
        <link rel="stylesheet" href="/stylesheets/admin.css">
</head>

<body>
    <h1>Matkaklubi administreerimine</h1>
    <div class="lisa">
        <h5>Lisa matk:</h5>
         <input id="detail-pealkiri1" type="text"></input>
            <textarea id="detail-kirjeldus1"></textarea>
            <input id="detail-pilt1" type="text"></input>
            <span id="message1"></span>
            <button id="detail-salvesta1" class="btn btn-primary">Lisa matk</button>
            </div>   
    <div class="konteiner">
        <div id="matkad" class="matkad">
        </div>
        <div id="matka-detail" class="matka-detail">
            <h5 id="matka-pealkiri"></h5>
            <input id="detail-pealkiri" type="text"></input>
            <textarea id="detail-kirjeldus"></textarea>
            <input id="detail-pilt" type="text"></input>
            <button id="detail-salvesta" class="btn btn-primary">Salvesta</button>
            <h5 class="osalejad">Osalejad</h5>
            <div id="detail-osalejad"></div>
        </div>
    </div>
    <script src="/scripts/admin.js"></script>
</body>

</html>