<!DOCTYPE html>
<html>
<head>
  <%- include ("../partials/header.ejs") %>
</head>

<body>

  <%- include ("../partials/nav.ejs") %>

  <div class="">
    <div class="container-fluid pais-sektsioon">
        
        <div class="sisu">
            <h2>Climb for better</h2>
            <h1>Get out now</h1>
            <h4>Join us for the weekend to climb the highest peak in England</h4>
            <button>View upcoming treks</button>
            <div class="tydruk"></div>
            <div class="vari"></div>
        </div>
    </div>
    <div class="container-fluid keskosa">
        <div class="choose">choose</div>
        <div class="these">These best treks for spring
        </div>
        <div class="flex">
            <div class="lorem-ipsum"> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo
                viverra maecenas accumsan lacus vel facilisis. </div>
                <svg xmlns="http://www.w3.org/2000/svg" width="74.83" height="40" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"/>
                  </svg>
                <div class="number">01</div>
                <div class="number2">/06</div>
                <div class="nool_paremale">
                    <svg xmlns="http://www.w3.org/2000/svg" width="74.83" height="40" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
                      </svg>
                </div>
                <div class="esimene_pilt">
                <img src="./assets/tydruk_binokkel.png" width="309px" height="406px">
            </div>
            <div class="teine_pilt">
                <img src="./assets/poiss_binokkel.png" width="309px" height="406px">
            </div>
            <div class="kolmas_pilt">
                <img src="./assets/pilt_paremal.png" width="309px" height="406px">
            </div>
        </div>
    </div>
</div>
</body>
</html>
